
openapi: '3.0.2'
info:
  title: Formula Bun API
  version: '1.0'
servers:
  - url: https://api.formulabun.club/


components:
  schemas:
    link:
      title: Link
      type: object
      properties:
        links:
          type: array
          items:
            type: object
            properties:
              rel:
                type: string
                example: discord
              url:
                type: string
                example: http://api.formulabun.club/discord
    srb2HeaderData:
      type: object
      properties:
        type:
          type: string
          example: Buffer
        data:
          type: array
          items:
            type: integer
            example:
             - 0
             - 4
    srb2HeaderObject:
      type: object
      properties:
        checksum:
          $ref: '#/components/schemas/srb2HeaderData'
        ack:
          $ref: '#/components/schemas/srb2HeaderData'
        ackret:
          $ref: '#/components/schemas/srb2HeaderData'
        packettype:
          $ref: '#/components/schemas/srb2HeaderData'
    srb2Headers:
      title: SRB2 Headers
      type: object
      properties:
        playerinfo:
          type: array
          example: []
        header:
          $ref: '#/components/schemas/srb2HeaderObject'
paths:
  /:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link'
  /servers:
    get:
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              schema:
                type: string
                example: https://api.formulabun.club/servers/main
  /servers/{server}:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link'
      parameters:
        - name: server
          in: path
          required: true
          schema:
            type: string
  /servers/{server}/players:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/srb2Headers'
  /servers/{server}/server:
    get:
      responses:
        '200':
          description: OK
  /discord:
    get:
      responses:
        '200':
          description: OK
