
openapi: '3.0.2'
info:
  title: Formula Bun API
  version: '1.0'
servers:
  - url: https://api.formulabun.club/


components:
  schemas:
    link:
      title: Link
      type: object
      properties:
        links:
          type: array
          items:
            type: object
            properties:
              rel:
                type: string
                example: discord
              url:
                type: string
                example: http://api.formulabun.club/discord
    srb2HeaderData:
      type: object
      properties:
        type:
          type: string
          example: Buffer
        data:
          type: array
          items:
            type: integer
            example:
             - 0
             - 4
    srb2HeaderObject:
      type: object
      properties:
        checksum:
          $ref: '#/components/schemas/srb2HeaderData'
        ack:
          $ref: '#/components/schemas/srb2HeaderData'
        ackret:
          $ref: '#/components/schemas/srb2HeaderData'
        packettype:
          $ref: '#/components/schemas/srb2HeaderData'
    srb2Headers:
      title: SRB2 Headers
      type: object
      properties:
        header:
          $ref: '#/components/schemas/srb2HeaderObject'
paths:
  /:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link'
  /servers:
    get:
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              schema:
                type: string
                example: https://api.formulabun.club/servers/main
  /servers/{server}:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link'
      parameters:
        - name: server
          in: path
          required: true
          schema:
            type: string
  /servers/{server}/players:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      playerinfo:
                        type: array
                        example: []
                  - $ref: '#/components/schemas/srb2Headers'
  /servers/{server}/server:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/srb2Headers'
                  - properties:
                      fileneeded:
                        type: array
                        items:
                          type: object
                          properties:
                            filestatus:
                              type: integer
                              example: 17
                            filesize:
                              type: integer
                              example: 69243
                            filename:
                              type: string
                              example: KL_HOSTMOD_V16.pk3
                            checksum:
                              $ref: '#/components/schemas/srb2HeaderData'
                      magic:
                        type: integer
                        example: -1
                      packetversion:
                        type: integer
                        example: 0
                      application:
                        type: string
                        example: SRB2Kart
                      version:
                        type: integer
                        example: 1
                      subversion:
                        type: integer
                        example: 3
                      numberofplayers:
                        type: integer
                        example: 0
                      maxplayers:
                        type: integer
                        example: 15
                      gametype:
                        type: integer
                        example: 2
                      modifiedgame:
                        type: integer
                        example: 1
                      cheatsenabled:
                        type: integer
                        example: 1
                      kartvars:
                        type: integer
                        example: 98
                      fileneedednum:
                        type: integer
                        example: 22
                      time:
                        type: integer
                        example: 543
                      leveltime:
                        type: integer
                        example: 803441
                      servername:
                        type: string
                        example: "[EU] formulabun"
                      mapname:
                        type: string
                        example: MAPKO
                      maptitle:
                        type: string
                        example: The Untitled
                      mapmd5:
                        $ref: '#/components/schemas/srb2HeaderData'
                      actnum:
                        type: integer
                        example: 0
                      iszon:
                        type: integer
                        example: 1
                      httpsource:
                        type: string
                        example: http://www.formulabun.club/repo

  /discord:
    get:
      responses:
        '200':
          description: OK
